<div
  id="ab76430c-f580-4589-8c3d-2ab6118e967d"
  data-root-id="p1001"
  style="display: contents"
></div>

<script type="text/javascript">
  (function () {
    const fn = function () {
      Bokeh.safely(function () {
        (function (root) {
          function embed_document(root) {
            const docs_json =
              '{"4d7ddbfc-6d62-4630-bae7-763faa67bd26":{"version":"3.4.0","title":"Bokeh Application","roots":[{"type":"object","name":"CheckboxGroup","id":"p1035","attributes":{"js_property_callbacks":{"type":"map","entries":[["change:active",[{"type":"object","name":"CustomJS","id":"p1036","attributes":{"code":"\\n    console.log(&#x27;checkbox_group: active=&#x27; + this.active, this.toString())\\n"}}]]]},"labels":["Option 1","Option 2","Option 3"],"active":[0,1]}}]}}';
            const render_items = [
              {
                docid: "4d7ddbfc-6d62-4630-bae7-763faa67bd26",
                roots: { p1035: "aa3db349-3614-4e53-bd2d-7d2e25d887a8" },
                root_ids: ["p1035"],
              },
            ];
            root.Bokeh.embed.embed_items(docs_json, render_items);
          }
          if (root.Bokeh !== undefined) {
            embed_document(root);
          } else {
            let attempts = 0;
            const timer = setInterval(
              function (root) {
                if (root.Bokeh !== undefined) {
                  clearInterval(timer);
                  embed_document(root);
                } else {
                  attempts++;
                  if (attempts > 100) {
                    clearInterval(timer);
                    console.log(
                      "Bokeh: ERROR: Unable to run BokehJS code because BokehJS library is missing",
                    );
                  }
                }
              },
              10,
              root,
            );
          }
        })(window);
      });
    };
    if (document.readyState != "loading") fn();
    else document.addEventListener("DOMContentLoaded", fn);
  })();
</script>

<div
  id="aa3db349-3614-4e53-bd2d-7d2e25d887a8"
  data-root-id="p1035"
  style="display: contents"
></div>
